* {
  padding: 0px;
  margin: 0px;
}
h1 {
  font-weight: bold;
}
button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.textarea {
  width: 50%;
  padding: 12px;
  border: none;
}
.preview {
  width: 50%;
  padding: 12px;
  background-color: aliceblue;
}
p {
  font-size: 20px;
  font-weight: 600;
}
